body {
	font-family: inconsolata -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: black;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
li {
  margin-bottom: 8px;
}

h1 {
	padding: 0;
	margin: 0;
}

.header {
  height: 72px;
  font-weight: 100;
  font-size: calc(40px + 1vw);
	line-height: 2.1rem;
	letter-spacing: -.05em;
  font-family: inconsolata;
  color: transparent;
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  justify-content: start;
  align-items: center;
}

.footer {
  height: 40px;
  display: flex;
  font-size: 12px;
  font-family: inconsolata;
  background: #eee;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
	font-size: calc(16px + 0.2vw);
	line-height: calc(1.1em + 0.2vw);
  flex-direction: row;
  /* let content grow, so it pushes footer down to bottom of page 
   * alternative: set `auto-margin: top` on footer
   */
  flex: 1;
}

.sidebar {
  width: 250px;
  flex: 1;
  margin-top: 40px;
}

.content {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: stretch;
  margin: 40px;
  gap: 16px;
}

.card {
  /*border: 1px solid lightgrey;*/
  box-shadow: 2px 4px 16px lightgrey/*rgba(0,0,0,.06)*/;
  border-radius: 4px;
  width: 250px;
  padding: 16px;
}

.text-image {
	color: transparent;
	background-image: radial-gradient(ellipse at top, #e66465, transparent),
										radial-gradient(ellipse at bottom left, #1300C6, transparent);
	background-clip: text;
}

.card::first-letter {
	font-size: 1.2em;
}

.bg-img {
	background-attachment: fixed;
	background-image: radial-gradient(ellipse at top, #e66465, transparent),
										radial-gradient(ellipse at bottom left, #1300C6, transparent);
	background-clip: text;
}
