body {
	font-family: inconsolata -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: black;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
li {
	margin-bottom: 8px;
}

.header {
	height: 72px;
	background: white;
	font-weight: 100;
	font-size: 40px;
	font-family: inconsolata;
	color: black;
	display: flex;
	padding-left: 40px;
	padding-top: 40px;
	justify-content: start;
	align-items: center;
}

.mainText {
	height: 72px;
	background: white;
	font-weight: 100;
	font-size: 30px;
	font-family: inconsolata;
	color: black;
	display: flex;
	justify-content: center;
	align-items: start;

}

.field {
	background-color: #325656;
}

.gridWrapper {
	display: flex;
	flex-flow: row wrap;
}

.menuButtons {
	display:flex;
	gap: 10px;
}
.clearButton {
	width: 100px;

}

.footer {
	height: 40px;
	display: flex;
	font-size: 12px;
	font-family: inconsolata;
	background: #eee;
	color: black;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: row;
	/* let content grow, so it pushes footer down to bottom of page 
	 * alternative: set `auto-margin: top` on footer
	 */
	flex: 1;
}

.sidebar {
	background: white;
	width: 250px;
	flex: 1;
	margin-top: 40px;
}

.content {
	flex: 3;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-items: stretch;
	margin: 40px;
	gap: 16px;
}

.rpsSelect {
	display: flex;
	justify-content:center;
	gap: 20px;
}

.subtext {
	font-size: 20px;
	font-weight: 300;
}

.card {
	border: 1px solid lightgrey;
	display: flex;
	flex-flow: column wrap;
	box-shadow: 2px 4px 16px lightgrey/*rgba(0,0,0,.06)*/;
	border-radius: 4px;
	background-color: white;
	width: 250px;
	padding: 16px;
	text-align: center;
	font-size: 40px;
}

.formDiv {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

.submitButton {
	height: 25px;
}

.grow:hover {
	transition: all .02s ease-in-out;
	transform: scale(1.1);
	background-color:#325656;
}

.visitedColor {
	background-color: purple;
}

.win {
	font-size: 24px;
	color: gold;
	font-weight:bolder;
}

.lose {
	font-size: 22px;
	color: darkgoldenrod;
	font-weight:bolder;
}

.gameInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	margin-left: 20px;
	margin-right: 20px;
	text-align:center;
}

.computerColumn .playerColumn .roundsColumn {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.successMessage {
	display:flex;
	margin-top: 34px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
